@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- FONT UTILITIES ---------- */
.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-sans {
  font-family: var(--font-geist-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-dot-fade {
  background-color: #000;

  background-image:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(27, 26, 26, 0) 25%,
      rgba(29, 28, 28, 0) 75%,
      rgba(255, 255, 255, 0.06) 100%
    ),

    radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0.6px,
      transparent 0.8px
    );

  background-size:
    100% 100%,
    18px 18px;

  background-position: center, 0 0;
}
.bg-dot-dotted {
  background-color: #fff;
  background-image: 
    radial-gradient(circle, #d1d5db 0.6px, transparent 1px),
    linear-gradient(to right, #fff 80%, rgba(255,255,255,0.1) 95%, rgba(255,255,255,0) 100%);
  background-size: 18px 18px, 100% 100%;
  background-position: 0 0, 0 0;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: auto;
}

.custom-cursor {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  border: 2px solid #e94ce3;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 120ms cubic-bezier(0.2, 0.9, 0.2, 1);
  mix-blend-mode: difference;
}

@media (min-width: 1024px) {
  body {
    cursor: none;
  }
}

@media (max-width: 1023px) {
  .custom-cursor {
    display: none;
  }
}

a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  transform: translate(-50%, -50%) scale(1.6);
}
